/* ==========( 1340px )========== */

@media screen and (max-width: 1340px) {
    article > section > img {
        transition: .4s !important;
        width: 240px !important;
        height: 200px !important;
    }
}

/* ==========( 1040px )========== */

@media screen and (max-width: 1040px) {
    article > section > img {
        transition: .4s !important;
        width: 140px !important;
        height: 100px !important;
    }
}


/* ==========( 955px )========== */

@media screen and (max-width: 955px) {
    .btn-scheduling { 
        width:180px !important;
    }
}


/* ==========( 835px )========== */

@media screen and (max-width: 835px) {
    .subtitle {
        height: 7rem !important;
    }
    .subtitle > h1 {
        transition: .7s;
        font-size: 4rem !important;
    }
}


/* ==========( 770px )========== */

@media screen and (max-width: 770px){

    .iten {
        margin-top: 60px !important;
    }

    .subtitle > h1 {
        transition: .7s;
        font-size: 4rem !important;
    }

    .subtitle {
        height: 8rem !important;
    }

    .midias-icons > ul {
        display: flex;
        transition: 0.4s !important;
        flex-direction: row !important;
    }

    .instagram {
        transition: 0.4s !important;
        width: 45px !important;
    }
    .facebook {
        transition: 0.4s !important;
        width: 39px !important;
    }

    .whatsapp {
        transition: 0.4s !important;
        width: 45px !important;
    }

    .midias-icons {
        position: relative;
        left: 13.5em !important;
        top: 13.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 5em !important;
         width:65px;
     }

}

/* ==========( 717px )========== */

@media screen and (max-width: 717px) {
    .subtitle {
        height: 8rem !important;
    }
    .subtitle > h1 {
        transition: .7s;
        font-size: 3.5rem !important;
    }
}



/* ==========( 670px )========== */

@media screen and (max-width: 670px){
    .subtitle > h1 {
        transition: .7s;
        font-size: 3rem !important;
    }

    .subtitle {
        height: 7rem !important;
    }
    .midias-icons {
        position: relative;
        left: 12.5em !important;
        top: 12.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 3em !important;
         width:65px;
     }

     .btn-scheduling {
        top: 0.5rem !important;
        height: 40px !important;
     }
}


/* ==========( 600px )========== */

@media screen and (max-width: 600px) {
    .subtitle {
        height: 7rem !important;
    }
    .subtitle > h1 {
        transition: .7s;
        font-size: 2.7rem !important;
    }
}


/* ==========( 570px )========== */

@media screen and (max-width: 570px){
    .subtitle > h1 {
        transition: .7s;
        font-size: 2rem !important;
    }

    .subtitle {
        height: 5rem !important;
    }

    .contents {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width:100% !important;
    }

    .contacts, .services, .all-midias {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }

    ul li a {
        font-size: 1rem !important;
    }

    .midias-icons {
        position: relative;
        left: 9.5em !important;
        top: 10.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 3em !important;
         width:65px;
     }

}

/* ==========( 480px )========== */

@media screen and (max-width: 480px){
    .btn-scheduling {
        width: 150px !important;
        top:0.5rem;
    }
}


/* ==========( 450px )========== */

@media screen and (max-width: 450px){
    .subtitle > h1 {
        transition: .7s;
        font-size: 2rem !important;
    }

    .subtitle {
        height: 5rem !important;
    }

    .contents {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width:100% !important;
    }

    .contacts, .services, .all-midias {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }

    ul li a {
        font-size: 1rem !important;
    }

    .midias-icons {
        position: relative;
        left: 5.9em !important;
        top: 10.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 3em !important;
         width:65px;
     }

     .btn-scheduling {
        top:0.2rem !important;

     }

}


/* ==========( 350px )========== */

@media screen and (max-width: 400px){
    .midias-icons {
        position: relative;
        left: 4.9em !important;
        top: 10.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 3em !important;
         width:65px;
     }
}


/* ==========( 350px )========== */

@media screen and (max-width: 350px){
    .subtitle > h1 {
        transition: .7s;
        font-size: 1.5rem !important;
    }

    .subtitle {
        height: 4rem !important;
    }

    ul li a {
        font-size: .7rem !important;
    }

    .midias-icons {
        position: relative;
        left: 3.5em !important;
        top: 9.5em !important;
        width: 0;
        height: 0;
     }
     
     .midias-icons > ul {
         display: flex;
         flex-direction: column;
         gap: 3em !important;
         width:65px;
     }

     .btn-scheduling {
        top:0.2rem !important;

     }

}