@import url('fonts.css');
@import url('media.css');
@import url('root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    color: #ffe9db;
}

body {
    background: #222;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}



/*  ==========  ( HEADER )  ==========  */

header {
    color: #ffe9db;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: underline;
    background-image: url('../assects/imgs/backgrounds/background-table-nature.jpg');
    width: 100%;
    height: 10rem;
}

header > h1{
    text-align: center;
    font-family: 'Lobster';  
  
}


/*  ==========  ( main )  ==========  */

main {
    background-color: var(--bgBasic);
    border-top: 10px solid #eea57b;
    border-bottom: 10px solid #eea57b;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form > div > label {
    font-weight: bold;
    text-transform: uppercase;
    width: 18.5rem;
}
form > div > input {
    color: black;
    height: 40px;
    width:15em;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    text-align: center;
}
.user {
    display: flex;
    margin: .5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointment {
    display: flex;
    margin: .5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.choose-time {
    display: flex;
    margin: .5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-time > div {
    display: flex;
    flex-direction: row;
    margin: .5rem;
}
.choose-time > div > button {
    color: var();
    width: 7em;
    height: 3em;
    font-size: 20px;
    margin: .2em;
    border-bottom: 2px solid #eea57b;
    background-color: transparent;
    font-weight: bolder;
}

hr {
    background-color: #eea57b;
    width: 100%;
    height: 5px;
    border-radius: 30px;
}

.back {
    font-size: 20px;
    border: 2px solid#eea57b;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
}


form {
    display: flex;
    width: 400px;
    flex-direction: column;

}

 .submit {
    background-color: red;
    width: 10em;
    height: 4em;
    border:none;
    border-radius: 8px;
    font-size: 30px;
    color: black
 }