@import url('fonts.css');
@import url('media.css');
@import url('root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    color: var(--grayColor);
}

body {
    background: url('../assects/imgs/backgrounds/pexels-cristian-rojas-8867162.jpg');
    display: flex;
    width: 100vw;
}

.container {
    background: var(--bgBasic);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    text-transform: capitalize;
}

/* ==========( HEADER )========== */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--bgBasic);
}

.btn-scheduling {
    width: 200px;
    height: 60px;
    position: relative;
    top: 0.8rem;
    background-color: var(--bgColor2);
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-scheduling:hover {
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}

.logo > p {
    color: #eee;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: line-through;
    border: 5px solid var(--whiteColor);
    border-radius: 50%;
    border-style: dotted;
    padding: .1rem 1rem .1rem 1rem;
    text-shadow: 2px 5px 0 var(--bgColor2);
    border-color: var(--grayColor);
}
.logo:hover, .logo > p:hover{
    cursor: pointer;
    transition: .4s;
    color: var(--whiteColor);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: var(--grayColor);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px var(--bgBasic);
}
ul li a:hover {
    transition: .4s;
    color: #fff;
}    

.subtitle > h1{
    font-family: 'Lobster';
    font-size: 5rem;
    color: var(--grayColor);
    text-shadow: 5px 5px 5px var(--bgBasic);
    text-decoration: underline;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: transparent;
    text-transform: capitalize;
}

.subtitle { 
    background-image: url('../assects/imgs/backgrounds/background-table-nature.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
}

.subtitle:hover {
    cursor: pointer;
}

.midias-icons {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.midias-icons > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width:65px;
    border:none;
}

.instagram {
    width: 65px;
}
.facebook {
    width: 59px;
}
.whatsapp {
    width: 65px;
}

.icon {
    border:0;
}
.icon:hover {
    transition: .4s;
    transform:scale(1.1);
}

/* ==========( MAIN - ITEN - ARTICLE - SECTIONS AND IMGS )========== */

main {
    display: flex;  
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 100%;
    gap: 2em;
}

.item-cuts {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    background-color: var(--bgBasic);
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 20px;
}

article > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

article > section > h4 {
    margin:.5em;
}

article > section > img {
    width: 340px;
    height: 300px;
    border: none;
    border-radius: 10px;
}

article > section > p {
    margin:.5em;
}

img:hover {
    border: 2px solid var(--bgColor3);
    cursor: pointer;
}

.item-cuts > h2 {
    display: flex;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(45deg, transparent, var(--bgBasic2), transparent);
}

 .price {
    margin-top: 2em;
    background-color: var(--bgBasic);    
} 

.price > h2 {
    display: flex;
    width: 100%;
    margin-bottom: .5em;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(45deg, transparent, var(--bgBasic2), transparent);
}

.price .tabela > section > article {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    gap: 0.5em;
}

.flavor {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--bgColor2);
}

.price-p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding-bottom: .3em;
}


/* ==========( FOOTER )========== */


.services > p > a {
    text-decoration: none;
    display: flex;
    justify-content: start;
    margin-top: .3em;
}
.all-midias > p > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: .3em;
}
.contacts > p {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: .3em;
}

.all-midias > p > a:hover {
    transition: .4s;
    color: var(--bgColor0)
}

footer {
    background: var(--bgColor4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    font-family: "poppins", sans-serif;
}

footer > .contents {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

footer > .contents > div > h2 {
    text-decoration: underline;
}

footer > .copyright { 
    background: var(--bgBasic);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;   
    width: 100%; 
}
.copyright > p > a {
    color:#ccc;
}
.copyright > p > a:hover {
    transition: 0.4s;
    color: var(--bgColor2);
}
